<div class="markup">
<app-loader *ngIf="offerService.cargador"></app-loader>
<div class="superContainer">
  <div class="side"></div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <app-offer></app-offer>
        </div>
        <div class="col-sm">
          <app-characteristics></app-characteristics>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <app-prices></app-prices>
        </div>
      </div>
</div>
</div>
      <div class="side"></div>
</div>
</div>